<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}IAPrompt{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}" defer></script>
</head>
<body>
    {% if user.is_authenticated %}
    <header>
        <nav>
            <ul class="nav-buttons">
                <li><a href="{% url 'prompt-list' %}" class="top-buttons btn btn-primary">Prompts</a></li>
                <li><a href="{% url 'model-list' %}" class="top-buttons btn btn-primary">Modelos</a></li>
                <li><a href="{% url 'categoria-list' %}" class="top-buttons btn btn-primary">Categorias</a></li>
                <li><a href="{% url 'role-list' %}" class="top-buttons btn btn-primary">Roles</a></li>
                <li class="logout-button">
                    <form method="post" action="{% url 'logout' %}">
                        <a class="user-info"> {{ user.username }} </a>
                        {% csrf_token %}
                        <button type="submit" class="top-buttons action-button btn-danger btn">Logout</button>
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    {% endif %}
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
