{% extends 'base.html' %}
{% block title %}Categorias{% endblock %}
{% block content %}
<h1>Categorias</h1>
<table>
    <thead>
        <tr>
            <th>Descrição</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for categoria in object_list %}
        <tr>
            <td><a href="{% url 'categoria-detail' categoria.pk %}">{{ categoria.descricao }}</a></td>
            <td>
                <a href="{% url 'categoria-edit' categoria.pk %}">Editar</a>
                <a href="{% url 'categoria-delete' categoria.pk %}">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'categoria-create' %}">Nova Categoria</a>
{% endblock %}
