{% extends 'base.html' %}
{% load static %}

{% block title %}Modelos{% endblock %}
{% block content %}
<h1>Modelos</h1>
<div class="filter-container">
    <a href="{% url 'model-create' %}" class="btn btn-primary">Novo Modelo</a>
</div>
<table class="centered-table">
    <thead class="table-header">
        <tr>
            <th class="sortable column-descricao" onclick="sortTable(0)">Descrição</th>
            <th class="column-acoes">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for model in object_list %}
        <tr>
            <td class="column-descricao" onclick="window.location.href='{% url 'model-detail' model.pk %}'">{{ model.descricao }}</td>
            <td class="column-acoes">
                <a href="{% url 'model-edit' model.pk %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'model-delete' model.pk %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
