{% extends 'base.html' %}
{% block title %}Detalhes do Prompt{% endblock %}
{% block content %}
<h1>Detalhes do Prompt</h1>
<table>
    <tr>
        <th>Descrição:</th>
        <td>{{ object.descricao }}</td>
    </tr>
    <tr>
        <th>Modelo:</th>
        <td>{{ object.modelo }}</td>
    </tr>
    <tr>
        <th>Role:</th>
        <td>{{ object.role }}</td>
    </tr>
    <tr>
        <th>Criador:</th>
        <td>{{ object.creator.username }}</td>
    </tr>
    <tr>
        <th>Prompt:</th>
        <td>{{ object.prompt }}</td>
    </tr>
    <tr>
        <th>JSON:</th>
        <td>
            {% if object.json %}
                <a href="{{ object.json.url }}">Download JSON</a>
            {% else %}
                Nenhum arquivo associado
            {% endif %}
        </td>
    </tr>
</table>
<a href="{% url 'prompt-edit' object.pk %}" class="action-button">Editar</a>
<a href="{% url 'prompt-delete' object.pk %}" class="action-button">Excluir</a>
{% endblock %}
