{% extends 'base.html' %}
{% load static %}

{% block title %}Roles{% endblock %}
{% block content %}
<h1>Roles</h1>
<div class="filter-container">
    <a href="{% url 'role-create' %}" class="btn btn-primary">Nova Role</a>
</div>
<table class="centered-table">
    <thead class="table-header">
        <tr>
            <th class="sortable column-descricao" onclick="sortTable(0)">Descrição</th>
            <th class="column-acoes">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for role in object_list %}
        <tr>
            <td class="column-descricao" onclick="window.location.href='{% url 'role-detail' role.pk %}'">{{ role.descricao }}</td>
            <td class="column-acoes">
                <a href="{% url 'role-edit' role.pk %}" class="btn btn-primary">Editar</a>
                <a href="{% url 'role-delete' role.pk %}" class="btn btn-danger">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
